# python
__pycache__/
# Jupyter
.ipynb_checkpoints/

# data
python/CE2/run_*
python/CE2/data_*
python/CE2/img_*
python/scratch/
python/img_*
python/*.sh

# JFM template
tex/JFM/JFM latex files - IFC - 20_04_2018

_region_.tex

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
